@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.desc {
    font-size: calc(10px + calc(.5vw + 0.3vh));
    font-weight: 300;


}

.businessfoil {
    font-size: calc(15px + calc(3.2vw + 1.2vh));

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.businessfoil:hover {
    font-size: calc(15px + calc(3.3vw + 2.3vh));
}

.body {
    margin: 0;
    font-family: 'Courier Prime', Times, serif;
    background-color: #F6F0EC;
    color: #3b3a39;
}

.body::-webkit-scrollbar {
    background-color: #bba089;
    
}

.body::-webkit-scrollbar-thumb {
    background-color: #F6F0EC;
    border: solid #bba089;
    border-radius: 15px;
    width: 6px;
    
}

/* -------------------------------------------------------------------------------------- */

.cabecalho {
    display: flex;

    position: fixed;

    width: 100%;
    min-height: 25px;
    height: 5vh;
    padding-top: 5px;
    background-color: #F6F0EC;
    font-family: 'Courier Prime', Times, serif;
    font-size: small;
    color: #3b3a39;

    align-content: center;
    justify-content: space-between;
}

.cab_left {
    display: flex;
    align-items: center;
    font-size: calc(10px + 0.4vh);

    margin-left: 1vw;
}

.cab_right {
    display:flex;
    align-items: center;
    text-align: right;

    font-size: calc(10px + 0.4vh);

    margin-right: 1vw;
}

.icone {
    width: calc(20px + 1.5vh);;
    object-fit: contain;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 100%;

    background-color: #D1B7A1;
}

.page {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: #F6F0EC;
    align-items: center;
    justify-content: center;
}

.cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #D1B7A1;
    height: 30vh;
}

/* -------------------------------------------------------------------------------------- */

.button {
    width: 20vw;
    height: 10vh;
    
    font-weight: 600;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    background-color: #F6F0EC;
    border: 1px solid #d3cecb;
    border-radius: 8px;

    cursor: pointer;
}

.button:hover {
    width: 20vw;
    height: 10vh;
    
    font-weight: 600;

    color: #fff;
    background-color: #D1B7A1;
    border: 2px solid #F6F0EC;
    border-radius: 8px;

    cursor: pointer;
}   

a {
    text-decoration: none;
    color: #3b3a39;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

a:hover {   
    text-decoration: none;
    color: #D1B7A1;
    cursor: pointer;
}

button {
    margin: 0;
    font-family: 'Courier Prime', Times, serif;
    font-size: calc(1.3vw + 0.2vh);
    letter-spacing: 4px;
    color: #3b3a39;
}


.search {
    width: 0px;
    height: 3.5vh;
    min-height: 25px;
    max-height: 40px;
    margin-bottom: 6px;
    margin-left: 10px;

    border-radius: 10px;
    border:2px;
    border-color: #cec1b6;
    border-style: solid;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    background: url(../imagens/lupa.png) no-repeat;
    background-size: 15px;
    background-position: center;
    background-position-x: 8px;

    padding-left: 30px;    
    padding-top: 3px;

    font-family: 'Courier Prime', Times, serif;
    font-size: 16;
    font-weight: 600;
    
}

::-webkit-input-placeholder {
    color: #5a5957;
}

.search:focus {
    width: 25vw;
    height: 3.5vh;

    margin-bottom: 6px;
    border-radius: 10px;
    border:2px;
    border-color: #bba089;
    border-style: solid;
    color: #3b3a39;
}

.search:hover {
    border-radius: 10px;
    border:2px;
    border-color: #3b3a39;
    border-style: solid;

    background-position: center;
    background-position-x: 7px;
    background-size: 17px;
}

@media (max-width: 600px) {
    .button {
        padding-right: 3vw;
        padding-left: 3vw; 
        font-size: calc(1.3vh + 0.5vw);
    }

    .cadastro {
        flex-direction: column;
    }

    .button {
        width: 40vw;
    }

    .cab_left {
        margin-left: 2vh;
    }

    .cab_right {
        margin-right: 2vh;
    }
}
