@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #D1B7A1;
}
    
.cabecalho {
    height: 5%;
    padding-left: 1%;
    background-color: #F6F0EC;
    font-family: 'Courier Prime', Times, serif;
    font-size: small;
    color: #3b3a39;

    display: flex;
    align-items: center;
}

.canva {
    display: flex;
    justify-content: center;
    height: 95%;

}

.dados {
    font-family: 'Courier Prime', Times, serif;
    background-color: #F6F0EC;

    border-radius: 15px;
    border-style: solid;
    border-color: #ebebeb;
    box-shadow: 0px 0px 30px 10px #a18167;

    text-align: center;
    font-size:x-large;
    color: #3b3a39;

    align-self: center;

    height: 75%;
    width: 40%;
}

p {
    font-size:xxx-large;
    font-weight:900;
}

.input_username {
    width: 80%;
    height: 70px;
    border: 0px;
    border-radius: 8px;

    padding-left: 15px;

    font-family: 'Courier Prime', Times, serif;
    font-size:x-large;
    font-weight:600;

    color: #3b3a39;

    border: 2px;
    border-style: solid;
    border-color: #ebebeb;
}

.input_password {
    width: 80%;
    height: 70px;
    border: 0px;
    border-radius: 8px;

    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;

    font-family: 'Courier Prime', Times, serif;
    font-size:x-large;
    font-weight:600;

    color: #3b3a39;

    border: 2px;
    border-style: solid;
    border-color: #ebebeb;
}

.input_submit {
    background-color: #D1B7A1;
    color: #ffffff ;
    font-family: 'Courier Prime', Times, serif;
    font-size: x-large;
    font-weight: 600;

    width: 40%;
    height: 70px;

    border: 2px;
    border-color: #b4967a;
    border-radius: 8px;
    border-style: solid;
    margin-top: 50px;
}

.input_submit:hover {
    background-color: #c5ac94;
    color: #ffffff ;
    font-family: 'Courier Prime', Times, serif;
    font-size: x-large;
    font-weight: 600;

    width: 40%;
    height: 70px;

    border: 2px;
    border-color: #b4967a;
    border-radius: 8px;
    border-style: solid;

    margin-top: 50px;
}

.insta {
    
}
.meta {
    
}
.google {
    margin-left: 25px;
    margin-right: 25px;
}